
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #cdbbff;
    margin: 0;
  }

  /* navigation dot */
  .nav-dots {
    position: absolute;
    top: 35px;
    left: 50px;
    display: flex;
    gap: 15px;
    z-index: 10;
  }
  
  .dot {
    width: 36px;
    height: 36px;
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .dot.active {
    background-color: black;
  }

  /* dough */
  .dough {
    width: 800px;
    height: 500px;
    background: linear-gradient(135deg, #fffdf5 0%, #fff8da 50%);
    filter: drop-shadow(0 1px 3px rgba(0,0,0,0.15));
    transition: border-radius 0.2s ease;
  
    /* dough shape */
    border-radius: 80% 45% 60% 40% / 60% 50% 50% 50%;
  }
  
 /* Next Step image link */
 .next-step {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 10;
  }
  
  .next-step img {
    height: 150px;
    cursor: pointer;
  }
  