body {
  background-color: #c6b2f9;
  font-family: sans-serif;
  margin: 0;
  padding: 50px ;
  display: flex;
  justify-content: center;

}

.corner-image {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 200px;
  cursor: pointer;
}

.table-container {
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 2px solid black;
  padding: 18px;
  vertical-align: top;
  background-color: white;
}

td:first-child {
  width: 20%;
}

td:last-child {
  width: 90%;
}

.table-image {
  max-width: 90%;
  height: auto;
  margin-top: 10px;
}

.bowl-image {
  max-width: 70%;
  height: auto;
  margin-top: 20px;
}

.chief-image {
  max-width: 30%;
  height: auto;
  margin-top: 20px;
}

.page-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.highlight {
  background-color: rgb(255, 246, 185);   
  color: black;              
}

