body {
  margin: 0;
  overflow: hidden;
  background: #cdbbff;
  font-family: sans-serif;
}

  /* Dots in top-left */ 
  .nav-dots {
    position: absolute;
    top: 35px;
    left: 50px;
    display: flex;
    gap: 15px;
    z-index: 10;
  }
  
  .dot {
    width: 36px;
    height: 36px;
    border: 2.5px solid black;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .dot.active {
    background-color: black;
  }